Source: netstiff
Section: web
Priority: optional
Maintainer: Stephan Beyer <s-beyer@gmx.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3

Package: netstiff
Architecture: all
Depends: ruby (>= 1.8)
Suggests: libreadline-ruby (>= 1.8), libopenssl-ruby (>= 4.0)
Description: powerful tool to check for Web and/or FTP updates
 netstiff (formerly known as webdiff) is a powerful and easy-to-use web
 page and FTP site update checker. Updates are recognized using several 
 test criteria (diff, html, size, date, md5sum, regexp for HTTP and
 diff, size, date for FTP).
 .
 Without any given arguments, netstiff will either run its interactive
 configuration  tool or check your sites for updates and print the 
 changes in a diff(1)-like manner.
