#!/usr/bin/make -f
# -*- makefile -*-

clean:
	dh_testdir
	dh_testroot
	dh_clean 

build:
	# do nothing

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	dh_install netstiff /usr/bin/ 

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs THANKSTO
	dh_installman netstiff.1
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep
.PHONY: build clean binary-indep binary install
