Source: webdiff
Section: web
Priority: optional
Maintainer: Stephan Beyer <s-beyer@gmx.net>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: webdiff
Architecture: all
Depends: ruby (>= 1.8), libalgorithm-diff-ruby (>= 0.4)
Description: powerful and easy tool to check for web page updates
 webdiff is a powerful web page update checker. You can choose between
 different methods (diff, size, date, md5sum, regexp) webdiff should
 check for. It will only print the URIs of web pages which changed,
 so that its output can easily be used by further scripts (e.g. wget
 or mail).
